    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:43
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-browser:before { content: "\f100"; }
.flaticon-browser-1:before { content: "\f101"; }
.flaticon-browser-10:before { content: "\f102"; }
.flaticon-browser-11:before { content: "\f103"; }
.flaticon-browser-12:before { content: "\f104"; }
.flaticon-browser-13:before { content: "\f105"; }
.flaticon-browser-14:before { content: "\f106"; }
.flaticon-browser-15:before { content: "\f107"; }
.flaticon-browser-16:before { content: "\f108"; }
.flaticon-browser-17:before { content: "\f109"; }
.flaticon-browser-18:before { content: "\f10a"; }
.flaticon-browser-19:before { content: "\f10b"; }
.flaticon-browser-2:before { content: "\f10c"; }
.flaticon-browser-20:before { content: "\f10d"; }
.flaticon-browser-21:before { content: "\f10e"; }
.flaticon-browser-22:before { content: "\f10f"; }
.flaticon-browser-23:before { content: "\f110"; }
.flaticon-browser-24:before { content: "\f111"; }
.flaticon-browser-25:before { content: "\f112"; }
.flaticon-browser-26:before { content: "\f113"; }
.flaticon-browser-27:before { content: "\f114"; }
.flaticon-browser-28:before { content: "\f115"; }
.flaticon-browser-29:before { content: "\f116"; }
.flaticon-browser-3:before { content: "\f117"; }
.flaticon-browser-30:before { content: "\f118"; }
.flaticon-browser-31:before { content: "\f119"; }
.flaticon-browser-32:before { content: "\f11a"; }
.flaticon-browser-33:before { content: "\f11b"; }
.flaticon-browser-34:before { content: "\f11c"; }
.flaticon-browser-35:before { content: "\f11d"; }
.flaticon-browser-36:before { content: "\f11e"; }
.flaticon-browser-37:before { content: "\f11f"; }
.flaticon-browser-38:before { content: "\f120"; }
.flaticon-browser-39:before { content: "\f121"; }
.flaticon-browser-4:before { content: "\f122"; }
.flaticon-browser-40:before { content: "\f123"; }
.flaticon-browser-41:before { content: "\f124"; }
.flaticon-browser-42:before { content: "\f125"; }
.flaticon-browser-43:before { content: "\f126"; }
.flaticon-browser-44:before { content: "\f127"; }
.flaticon-browser-45:before { content: "\f128"; }
.flaticon-browser-46:before { content: "\f129"; }
.flaticon-browser-47:before { content: "\f12a"; }
.flaticon-browser-48:before { content: "\f12b"; }
.flaticon-browser-49:before { content: "\f12c"; }
.flaticon-browser-5:before { content: "\f12d"; }
.flaticon-browser-6:before { content: "\f12e"; }
.flaticon-browser-7:before { content: "\f12f"; }
.flaticon-browser-8:before { content: "\f130"; }
.flaticon-browser-9:before { content: "\f131"; }
    
    $font-Flaticon-browser: "\f100";
    $font-Flaticon-browser-1: "\f101";
    $font-Flaticon-browser-10: "\f102";
    $font-Flaticon-browser-11: "\f103";
    $font-Flaticon-browser-12: "\f104";
    $font-Flaticon-browser-13: "\f105";
    $font-Flaticon-browser-14: "\f106";
    $font-Flaticon-browser-15: "\f107";
    $font-Flaticon-browser-16: "\f108";
    $font-Flaticon-browser-17: "\f109";
    $font-Flaticon-browser-18: "\f10a";
    $font-Flaticon-browser-19: "\f10b";
    $font-Flaticon-browser-2: "\f10c";
    $font-Flaticon-browser-20: "\f10d";
    $font-Flaticon-browser-21: "\f10e";
    $font-Flaticon-browser-22: "\f10f";
    $font-Flaticon-browser-23: "\f110";
    $font-Flaticon-browser-24: "\f111";
    $font-Flaticon-browser-25: "\f112";
    $font-Flaticon-browser-26: "\f113";
    $font-Flaticon-browser-27: "\f114";
    $font-Flaticon-browser-28: "\f115";
    $font-Flaticon-browser-29: "\f116";
    $font-Flaticon-browser-3: "\f117";
    $font-Flaticon-browser-30: "\f118";
    $font-Flaticon-browser-31: "\f119";
    $font-Flaticon-browser-32: "\f11a";
    $font-Flaticon-browser-33: "\f11b";
    $font-Flaticon-browser-34: "\f11c";
    $font-Flaticon-browser-35: "\f11d";
    $font-Flaticon-browser-36: "\f11e";
    $font-Flaticon-browser-37: "\f11f";
    $font-Flaticon-browser-38: "\f120";
    $font-Flaticon-browser-39: "\f121";
    $font-Flaticon-browser-4: "\f122";
    $font-Flaticon-browser-40: "\f123";
    $font-Flaticon-browser-41: "\f124";
    $font-Flaticon-browser-42: "\f125";
    $font-Flaticon-browser-43: "\f126";
    $font-Flaticon-browser-44: "\f127";
    $font-Flaticon-browser-45: "\f128";
    $font-Flaticon-browser-46: "\f129";
    $font-Flaticon-browser-47: "\f12a";
    $font-Flaticon-browser-48: "\f12b";
    $font-Flaticon-browser-49: "\f12c";
    $font-Flaticon-browser-5: "\f12d";
    $font-Flaticon-browser-6: "\f12e";
    $font-Flaticon-browser-7: "\f12f";
    $font-Flaticon-browser-8: "\f130";
    $font-Flaticon-browser-9: "\f131";