	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:43
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-browser:before { content: "\f100"; }
.flaticon-browser-1:before { content: "\f101"; }
.flaticon-browser-10:before { content: "\f102"; }
.flaticon-browser-11:before { content: "\f103"; }
.flaticon-browser-12:before { content: "\f104"; }
.flaticon-browser-13:before { content: "\f105"; }
.flaticon-browser-14:before { content: "\f106"; }
.flaticon-browser-15:before { content: "\f107"; }
.flaticon-browser-16:before { content: "\f108"; }
.flaticon-browser-17:before { content: "\f109"; }
.flaticon-browser-18:before { content: "\f10a"; }
.flaticon-browser-19:before { content: "\f10b"; }
.flaticon-browser-2:before { content: "\f10c"; }
.flaticon-browser-20:before { content: "\f10d"; }
.flaticon-browser-21:before { content: "\f10e"; }
.flaticon-browser-22:before { content: "\f10f"; }
.flaticon-browser-23:before { content: "\f110"; }
.flaticon-browser-24:before { content: "\f111"; }
.flaticon-browser-25:before { content: "\f112"; }
.flaticon-browser-26:before { content: "\f113"; }
.flaticon-browser-27:before { content: "\f114"; }
.flaticon-browser-28:before { content: "\f115"; }
.flaticon-browser-29:before { content: "\f116"; }
.flaticon-browser-3:before { content: "\f117"; }
.flaticon-browser-30:before { content: "\f118"; }
.flaticon-browser-31:before { content: "\f119"; }
.flaticon-browser-32:before { content: "\f11a"; }
.flaticon-browser-33:before { content: "\f11b"; }
.flaticon-browser-34:before { content: "\f11c"; }
.flaticon-browser-35:before { content: "\f11d"; }
.flaticon-browser-36:before { content: "\f11e"; }
.flaticon-browser-37:before { content: "\f11f"; }
.flaticon-browser-38:before { content: "\f120"; }
.flaticon-browser-39:before { content: "\f121"; }
.flaticon-browser-4:before { content: "\f122"; }
.flaticon-browser-40:before { content: "\f123"; }
.flaticon-browser-41:before { content: "\f124"; }
.flaticon-browser-42:before { content: "\f125"; }
.flaticon-browser-43:before { content: "\f126"; }
.flaticon-browser-44:before { content: "\f127"; }
.flaticon-browser-45:before { content: "\f128"; }
.flaticon-browser-46:before { content: "\f129"; }
.flaticon-browser-47:before { content: "\f12a"; }
.flaticon-browser-48:before { content: "\f12b"; }
.flaticon-browser-49:before { content: "\f12c"; }
.flaticon-browser-5:before { content: "\f12d"; }
.flaticon-browser-6:before { content: "\f12e"; }
.flaticon-browser-7:before { content: "\f12f"; }
.flaticon-browser-8:before { content: "\f130"; }
.flaticon-browser-9:before { content: "\f131"; }